body{
    font-family: HelveticaNeue;
    margin: 1.5em !important;
    background-color: #F2F4F7 !important;
}

#root{
    margin: auto;
    width: 80%;
}

/*nav*/
.nav-tabs .nav-link{
    border: none !important;
    height: 3.6em;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1.2rem;
}

.nav-tabs .nav-item{
    margin-bottom: -1px !important;
    box-shadow: 0px -6px 12px -4px rgba(117, 117, 117, 0.4);
    z-index: 100;
}

a:hover {
    background-color: lightgray;
}

/*clientContainer*/
.threeTab{
    background-color: white;
    border-radius: .25em;
    box-shadow: 0px -6px 12px -6px rgba(117, 117, 117, 0.3);
    z-index: 100;
    padding: 2em 5em 2em 5em;
}

/* Add button on home */
body button#addBtn{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: solid 0.5px #707070;
    border-style: dashed;
    background-color: #ffffff;
    padding: 49px;
    cursor: pointer;
}

body button#addBtn:hover{
    background-color: #f5f5f536;
}

#addBtn span{
    width: 55px;
    height: 35px;
    font-size: 30px;
    line-height: 1.4em;
    color: #8b8b8b;
}

.fa-5x{
    color: #b7b7b7;
}

.btnContainer{
    text-align: center;
    padding-top: 1em;
}

/* Client Preview */
.clientPreview{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: solid 0.5px #D1D5DA;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1em;
    display: flex;
    margin-bottom: .3em;
}

.textContent{
    padding: 1.3rem;
    line-height: 1.6;
}

.textContent p:first-child{
    font-weight: bold;
    margin-bottom: 0;
    color: #003547;
    font-size: 1.3rem;
}

.textContent p:nth-child(2){
    color: yellowgreen;
    margin-bottom: 0;
}

.textContent p:last-child{
    color: #767676;
    margin-bottom: 0;
}

#controlled-tab-example-tabpane-home img{
    height: 12em;
    width: 18em;
    border-radius: .25em;
    object-fit: cover;
    align-self: flex-start;
}

/* Modal */
#dataUrl{
    width: 45%;
    height: 2rem;
    border-radius: 3px;
    border: solid .5px #a7a7a78e;
    background-color: #ffffff;
    padding-left: .8rem;
    margin: 0 auto 2rem auto;
    font-size: .8em;
}

#dataUrl::placeholder{
    color: #a7a7a7d8;
}

#labelCustom{
    text-decoration: underline;
    font-size: .8em;
    font-weight: bold;
    color: #9a9a9a;
    margin: .8rem;
    padding: .3rem;
    cursor: pointer;
}

#addClient{
    border-radius: .2rem;
    border: none;
    text-align: center !important;
    font-weight: bold;
    width: 8rem;
    height: 2.4rem;
    cursor: pointer;
    margin-top: 1.3em;
    margin-bottom: 2em;
    font-size: .9em;
    text-align: left;
    color: #ffffff;
}

.modal-title{
    font-size: 1rem !important;
}

.modalHeader{
    margin-bottom: 0.5rem;
}

.headerText{
    font-family: HelveticaNeue;
    font-size: 1rem;
    line-height: 1.21;
    text-align: left;
    color: #000000;
  }

  .desc{
    color: #707070;
    line-height: 1.3em;
    font-size: 1em;
    margin: 1.5em 0 .7em 0;
    padding-left: 1em;
    padding-right: 1em;
  }

  .contentBold{
    font-weight: bold;
  }

  .uploadContainer{
    border-radius: 5px;
    border: dashed .8px #979797;
    background-color: #fafcff;
    width: 85%;
    margin: auto;
    text-align: center;
}

.fa-file-image{
    color: #c2c3c6;
    padding-top: 2rem;
}

#imageForm{
    text-align: center;
}