body{
    font-family: HelveticaNeue;
}

/* Add button on home */
body button#addBtn{
    width: 88%;
    height: auto;
    border-radius: 5px;
    border: solid 0.5px #707070;
    border-style: dashed;
    background-color: #ffffff;
    padding: 49px;
    cursor: pointer;
}

#addBtn span{
    width: 55px;
    height: 35px;
    font-size: 30px;
    line-height: 1.4em;
    color: #8b8b8b;
}

.fa-5x{
    color: #b7b7b7;
}

.btnContainer{
    text-align: center;
    padding-top: 1em;
}

/* Modal */
#dataUrl{
    width: 45%;
    height: 2rem;
    border-radius: 3px;
  border: solid .5px #a7a7a78e;
  background-color: #ffffff;
  padding-left: .8rem;
  margin: 0 auto 2rem auto;
  font-size: .8em;
}

#dataUrl::placeholder{
    color: #a7a7a7d8;
}

#labelCustom{
    text-decoration: underline;
    font-size: .8em;
    font-weight: bold;
    color: #9a9a9a;
    margin: .8rem;
    padding: .3rem;
    cursor: pointer;
}

#addClient{
    border-radius: .2rem;
    border: none;
    text-align: center !important;
    font-weight: bold;
    width: 8rem;
    height: 2.4rem;
    cursor: pointer;
    margin-top: 1.3em;
    margin-bottom: 2em;
    font-size: .9em;
    text-align: left;
    color: #ffffff;
}

.modal-title{
    font-size: 1rem !important;
}

.modalHeader{
    margin-bottom: 0.5rem;
}

.headerText{
    font-family: HelveticaNeue;
    font-size: 1rem;
    line-height: 1.21;
    text-align: left;
    color: #000000;
  }

  .desc{
    color: #707070;
    line-height: 1.3em;
    font-size: 1em;
    margin: 1.5em 0 .7em 0;
  }

  .contentBold{
    font-weight: bold;
  }

  .uploadContainer{
    border-radius: 5px;
    border: dashed .8px #979797;
    background-color: #fafcff;
    width: 85%;
    margin: auto;
    text-align: center;
}

.fa-file-image{
    color: #c2c3c6;
    padding-top: 2rem;
}

#imageForm{
    text-align: center;
}